# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# Build Folders
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Temporary Files
tmp/
temp/

# Uploads (if storing locally)
backend/uploads/

# Cache
.cache/